.sticky {
  display: flex;
  position: sticky;
  top: 0; //need for setting position
  width: 100%;
  z-index: 100;
  margin: 0;
  padding-left: 1vw;
  img {
    max-height: 120px;
  }
}

.site-footer {
  background-color: $color-black;
  min-height: 50vh;
  width: 100vw;
  display: flex;

  h1,
  h2,
  h3,
  h4,
  p {
    color: white;
    font-weight: 200;
  }

  .row {
    height: 100%;
    width: 100%;
    align-items: flex-end;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-bottom: 2.5vw;
    margin-top: auto;
  }

  .info {
    padding-top: 10vw;
    text-align: right;
    h3 {
      text-align: right;
    }

    h4 {
      width: 100%;
      margin: 0;
    }
  }
  #form {
    height: 260px;
    max-width: 500px;
  }
}

#about {
  min-height: 70vh;
  .row .column.one-third {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}
