.subhead {
    height: 97vh;
    .subtitle {
        width: 35vw;
        position: absolute;
        bottom: 8vh;
        left: 4vw;
        h1 {
            font-size: 2.25em;
        }
        h2 {
            letter-spacing: 0.3em;
            font-weight: 400;
        }
    }
    img {
        height: 100vh;
        width: 60vw;
        object-fit: cover;
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
    }
}

.objective,
.process {
    min-height: 70vh;
    .row {
        padding-top: 10vh;
    }
    .row .column.one-third {
        padding-left: 5vw;
        padding-right: 5vw;
    }
    .row .column.two-thirds {
        padding-left: 10px;
        padding-right: 10px;
    }
    h3 {
        max-width: 575px;
        font-size: 1.75em;
    }
    li {
        line-height: 2em;
        text-align: right;
    }
}

// .process {
//     li {
//         margin-top: 2em;
//     }
// }

.gallery {
    padding: 5px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
        top: 0;
        right: 0;
        padding: 5px;
    }
}

.parallax-jones,
.parallax-luis,
.parallax-riopele,
.parallax-sedaris,
.parallax-scene,
.parallax-untitled {
    height: 70vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.parallax-jones {
    background-image: url(../img/jones_models.jpg);
}
.parallax-luis {
    background-image: url(../img/luis_multi.jpg);
}
.parallax-riopele {
    background-image: url(../img/riopele_sketches_logo.png);
}
.parallax-sedaris {
    background-image: url(../img/sedaris_sketch.png);
}
.parallax-scene {
    background-image: url(../img/app.multi.png);
}
.parallax-untitled {
    background-image: url(../img/untitled_sketch.jpg);
}
