/* BODY */
body {
    font-family: $serif-fontfamily;
    font-size: 100%;
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.8);
}

/* HEADINGS */

h1 {
    @include serif-fontrules;
    font-size: 3.5em;
    font-weight: 100;
    max-width: 550px;
    color: $color-darkgrey;
}

h2 {
    @include sans-fontrules;
    font-size: 1.5em;
    margin: 0;
}

h3 {
    @include serif-fontrules;
    font-size: 1em;
    margin-top: 0em;
    margin-bottom: 0.5em;
}

h4 {
    @include sans-fontrules;
    font-size: 0.9em;
    letter-spacing: 0.25em;
}

p {
    font-family: $serif-fontfamily;
    font-size: 0.9em;
    max-width: 575px;
    line-height: 1.4;
    color: $color-darkgrey;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    @include sans-fontrules;
    @include li-rules;
    font-weight: 200;
    list-style: none;
    color: $color-darkgrey;
}

.site-nav li {
    @include sans-fontrules;
    @include li-rules;
    font-weight: 300;
    font-size: 1em;
    color: $color-midgrey;
}
li {
    p {
        color: pink;
    }
}
a {
    @include sans-fontrules;
    @include li-rules;
    font-weight: 200;
    list-style: none;
    color: $color-darkgrey;
    text-decoration: none;
}
